<!DOCTYPE html>
<html>
<head>
  <title>OGD-Konsument</title>
  <link href="css/bootstrap.css" media="all" rel="stylesheet" type="text/css" />
  <link href="css/main.less" media="all" rel="stylesheet/less" type="text/css" />
 	<script type="text/javascript" src="js/less-1.3.1.min.js.css"></script>
</head>
<body>
	<div class="container">
   
		
		<div class="row header">
			<header class="span12">
				<h1 class="base heading">Diebstähle in der Schweiz &ndash; 2009 bis 2011</h1>
	          	<p class="base">Open Government Data - Beispielanwendung</p>

      		</header>
	    </div>

		<div class="row body">
			
			<div class="span12">

	
				<div class="mod modDataVisual" data-source="test-data/px-d-19-3B01c-OPTIMIZED.json" data-sourcemeta="http://localhost:3000/odsets/1.json">
					<div class="bd"></div>		

					<h2 class="base">Metadaten</h2>
					<div class="widget source-meta">

					</div>

					<h2 class="base">Diebstähle schweizweit pro Jahr</h2>
					<section class="total" data-title="Diebstähle schweizweit pro Jahr">

					</section>

					<h2 class="base">Diebstähle im Kanton pro Jahr</h2>
					<section class="cantonPerYear" data-title="Diebstähle im Kanton pro Jahr">

					</section>

					<h2 class="base">Diebstähle 2009 pro Kanton</h2>
					<section class="pie perCanton2009" data-title="Diebstähle 2009 pro Kanton">

					</section>

					<h2 class="base">Daten</h2>
					<section class="originalData">

					</section>


					<script type="text/html" class="tmpl-datatable">
					<table>
					<% var h = data[0]; %>
					<tr>
						<th><%= h[0] %></th> 
						<th><%= h[1] %></th> 
						<th><%= h[2] %></th> 
						<th><%= h[3] %></th> 
					</tr>

					<%  for (var i = 1, ii = data.length; i < ii; i++) { 
							var d = data[i];
					%> 

						<tr>
							<td><%= d[0] %></td> 
							<td><%= d[1] %></td> 
							<td><%= d[2] %></td> 
							<td><%= d[3] %></td> 
						</tr>

					<% } %>
					</table>
					</script>	


					<script type="text/html" class="tmpl-totals">
					<table class="base totals">
					
					<tr>
						<th>Jahr</th> 
						<th>Diebstähle Total</th> 
					</tr>

					<%  for (var i = 0, ii = data.length; i < ii; i++) { 
							var d = data[i];
					%> 

						<tr>
							<td><%= d.year %></td> 
							<td><%= d.thefts %></td> 
						
						</tr>

					<% } %>
					</table>
					</script>

					<script type="text/html" class="tmpl-byYearAndCanton">
					<table class="base totals">
					<tr>
						<th></th>
					<%  for (var i = 0, ii = cantons.length; i < ii; i++) { 
					%> 
							<th><%= cantons[i] %></th>
					
					<% } %>	
					</tr>

					<%  for (var i = 0, ii = years.length; i < ii; i++) { 
					%> 
							<tr><th><%= years[i] %></th>

							<%  for (var j = 0, jj = cantons.length; j < jj; j++) { 
					%> 
							<td><%= byCanton[cantons[j]][i].total %></td>
					<% } %>

							</tr>
					
					<% } %>	


					
					</table>
					</script>

					<script type="text/html" class="tmpl-sourceMeta">
						<dl>
							<dt>Titel</dt>
							<dd><%= sourceMeta.title %></dd>
							<dt>Beschreibung</dt>
							<dd><%= sourceMeta.description %></dd>
							<dt>Abdeckung</dt>
							<dd><%= sourceMeta.coverage %></dd>
							<dt>Datum</dt>
							<dd><%= sourceMeta.date %></dd>
							<dt>Ersteller</dt>
							<dd><%= sourceMeta.creator %></dd>
							<dt>Quelle</dt>
							<dd><%= sourceMeta.source %></dd>
						</dl>


					</script>

				</div>	
	
			
			</div>
    	</div>
					
		<footer>
	
		</footer>
	</div>
<script src="js/jquery-1.8.2.min.js" type="text/javascript"></script>
<script src="js/underscore-min.js" type="text/javascript"></script>
<script src="js/terrific-2.0.1.min.js" type="text/javascript"></script>
<script src="js/terrific-bootstrap.js" type="text/javascript"></script>
<script src="js/highcharts.js"></script>
<script src="js/OGD.utils.js" type="text/javascript"></script>
<script src="js/Tc.Module.DataVisual.js" type="text/javascript"></script>

</body>
</html>





